.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #bab4b4;
  color: #fff;
  width: 100%;
  margin-top: 5px;
  cursor: default;
  user-select: none;
}

.copyrightContainer {
  position: absolute;
  left: 50%; /* Move its left edge to the horizontal center of the parent */
  transform: translateX(
    -50%
  ); /* Shift it back by half its own width to truly center it */
  white-space: nowrap;
}

@media (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column; /* Stack footer elements vertically */
    padding: 10px;
  }

  .copyrightContainer {
    position: static;
    transform: none;
    left: auto;
  }
}
