/* What goes inside: * CSS Resets: Removing default browser margins/padding.

Typography: Setting the default font family for the whole app.

Backgrounds: Setting the body background color.

 */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
